/*

linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2))

*/

.interrogation {
    list-style: disc; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 100%;
    background-size: cover;
    background-position: top;
    border: 1px solid #444;
    border-radius: 10px;
    height: 50vh;
}

.interrogation li {
    padding-top: 70px;
    padding-bottom: 10px;
}

.fmorgan {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))),url(img/Traffic/any%25/the-drivers-seat/Morgan1-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),url(img/Traffic/any%25/the-drivers-seat/Morgan1-min.jpg);
    background-size:cover;
    background-position: bottom;
    font-size: 110%;
}

.pattison {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))),url(img/Traffic/any%25/a-marriage-made-in-heaven/mrspattison-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url(img/Traffic/any%25/a-marriage-made-in-heaven/mrspattison-min.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 50px;
}

.ballard {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/Traffic/any%25/the-fallen-idol/ballard-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/Traffic/any%25/the-fallen-idol/ballard-min.jpg);
    background-size: cover;
    background-position: top;
    height: 50vh;
}

.jessica {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Traffic/any%25/the-fallen-idol/jessica-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Traffic/any%25/the-fallen-idol/jessica-min.jpg);
    background-size: cover;
    background-position: top;
    height: 50vh;
}

.bishop {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Traffic/any%25/the-fallen-idol/mrs-bishop-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Traffic/any%25/the-fallen-idol/mrs-bishop-min.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
}
.mccoll {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Homicide/any%25/red-lipstick-murder/McColl.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Homicide/any%25/red-lipstick-murder/McColl.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.jacob {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Homicide/any%25/red-lipstick-murder/jacob.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Homicide/any%25/red-lipstick-murder/jacob.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.michelle {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/the-golden-butterfly/michelle.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/the-golden-butterfly/michelle.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.hugo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/the-golden-butterfly/hugo-at-residence.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/the-golden-butterfly/hugo-at-residence.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.hugo-central {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/the-golden-butterfly/hugo-at-central2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/the-golden-butterfly/hugo-at-central2.jpg);
    background-size: cover;
    background-position: top;
    height: 80vh;
}

.angel {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/silk-stocking-murder/angel.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/silk-stocking-murder/angel.jpg);
    height: 40vh;
    background-position: top;
}

.clem {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/silk-stocking-murder/clem.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/silk-stocking-murder/clem.jpg);
    height: 30vh;
    background-position: top;
}

.barton {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/white-shoe-slaying/barton.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/white-shoe-slaying/barton.jpg);
    height: 30vh;
    background-position: top;
}

.lars {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/white-shoe-slaying/lars.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/white-shoe-slaying/lars.jpg);
    height: 55vh;
    background-position: top;
}

.stuart {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/white-shoe-slaying/stuart.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/white-shoe-slaying/stuart.jpg);
    background-position: top;
}

.mccaffreyMenschs {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/studio-secretary-murder/mccaffrey-menschs.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/studio-secretary-murder/mccaffrey-menschs.jpg);
    height: 50vh;

}

.robbins {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/studio-secretary-murder/robbins.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/studio-secretary-murder/robbins.jpg);
    height: 50vh;
    background-position: right top;
}

.tiernan1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/studio-secretary-murder/tiernan1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/studio-secretary-murder/tiernan1.jpg);
    height: 50vh;
}

.mccaffreyCentral {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/studio-secretary-murder/mccaffrey-central.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/studio-secretary-murder/mccaffrey-central.jpg);
    height: 50vh;
}

.tiernan2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/Homicide/any%25/studio-secretary-murder/tiernan2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Homicide/any%25/studio-secretary-murder/tiernan2.jpg);
    height: 60vh;
    background-position: right;
}

@media only screen and (max-width: 768px ) {
    .interrogation { height: 50vh; }
    
    .fmorgan { background-position: -50px; }
    
    .jessica { background-position: right; }
    
    .bishop { background-position: -45px; }

    .robbins { height: 80vh; }
}

@media only screen and (max-width: 480px ) {
    
    .interrogation {
        background-attachment: scroll;
    }       
    
    .fmorgan {
        background-position: 55%;
    }
    
    .pattison {
         background-position: 75%;   
    }
    
    .ballard {
        height: 68vh;
        background-attachment: scroll;
        background-position: 55%;
    }
    
    .jessica { 
        height: 70vh;
        background-position: 77%;
        background-attachment: scroll;
    }
    
    .bishop {
        background-position: 57%;
    }

    .hugo-central {
        height: 70vh;
        background-position: 60%;
    }

    .lars {
        height: 70vh;
    }

    .robbins { background-position: 66%; }

    .tiernan2 {
        background-position: 70%;
        height: 70vh;
    }

}
