/*

linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2))

*/

.interrogation {
    list-style: disc; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.interrogation li {
    padding-top: 70px;
    padding-bottom: 10px;
}

.fmorgan {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))),url(img/Traffic/any%25/the-drivers-seat/Morgan1-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),url(img/Traffic/any%25/the-drivers-seat/Morgan1-min.jpg);
    background-size:cover;
    background-position: bottom;
    height: 50vh;
    font-size: 110%;
}

.pattison {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))),url(img/Traffic/any%25/a-marriage-made-in-heaven/mrspattison-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url(img/Traffic/any%25/a-marriage-made-in-heaven/mrspattison-min.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
    font-size: 100%;
    padding-top: 50px;
}

.ballard {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/Traffic/any%25/the-fallen-idol/ballard-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/Traffic/any%25/the-fallen-idol/ballard-min.jpg);
    background-size: cover;
    background-position: top;
    height: 50vh;
    font-size: 100%;
}

.jessica {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Traffic/any%25/the-fallen-idol/jessica.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Traffic/any%25/the-fallen-idol/jessica.jpg);
    background-size: cover;
    background-position: top;
    height: 50vh;
    font-size: 100%;
}

.bishop {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),url(img/Traffic/any%25/the-fallen-idol/mrs-bishop-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/Traffic/any%25/the-fallen-idol/mrs-bishop-min.jpg);
    background-size: cover;
    background-position: top;
    height: 40vh;
    font-size: 100%;
}

@media only screen and (max-width: 768px ) {
    .interrogation { height: 50vh; }
    
    .fmorgan { background-position: -50px; }
    
    .jessica { background-position: right; }
    
    .bishop { background-position: -45px; }
}

@media only screen and (max-width: 480px ) {
    
    .interrogation {
        background-attachment: scroll;
    }
    
    .fmorgan {
        background-position: 55%;
    }
    
    .pattison {
         background-position: 75%;   
    }
    
    .ballard {
        height: 68vh;
        background-attachment: scroll;
        background-position: 55%;
    }
    
    .jessica { 
        height: 70vh;
        background-position: 77%;
        background-attachment: scroll;
    }
    
    .bishop {
        background-position: 57%;
    }
}