* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5 ))) ,url(img/coming%20soon.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5 )) ,url(img/coming%20soon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

a:link,
a:visited,
a:active, p
{
    width: 100%;
    margin: 10% 50%;
    font-size: 350%;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0px;
    
    -webkit-transition: color 0.5s, letter-spacing 1s;
    transition: color 0.5s, letter-spacing 1s;
}

a:hover {
    color: #ffbf00;
    letter-spacing: 1.5px;
}

p {
    margin: 0;
}

@media only screen and (max-width: 1024px ) {
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px ) {
    body { font-size: 18px; }
}

@media only screen and (max-width: 480px ) {
    body { font-size: 12.5px; }
    p { font-size: 250%; }
}
@media only screen and (max-width: 321px ) {
    
    body { font-size: 10.5px; }
}

