* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#ffb0e1), to(#fac6e5));
    background: linear-gradient(to right top, #ffb0e1, #fac6e5);
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    color: #96304c;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    position: relative;
}

a {
    color: #96304c;
    text-decoration: none;
}

.main {
    text-align: center;
    z-index: 4;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.buttons {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

button {
    margin: 20px;
    height: 50px;
    width: 80px;
    background: rgba(0,0,0,0);
    font-family: 'Indie Flower', cursive;
    color: #96304c;
    font-size: 30px;
    border: none;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

button:hover {
    cursor: pointer;
}

.yes{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.no {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

button:focus{
    border: none;
    opacity: 0;
}

.heart {
    position: absolute;
    top: -10px;
    left: 140px;
    background-color: #ff80ce;
    display: inline-block;
    height: 25px;
    width: 25px;
    opacity: 0.5;
    margin: 0 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: fall 20s linear forwards;
    animation: fall 20s linear forwards;
}

@-webkit-keyframes fall {
    to {
        -webkit-transform:translateY(115vh);
        transform:translateY(115vh)
    }
}

@keyframes fall {
    to {
        -webkit-transform:translateY(105vh);
        transform:translateY(105vh)
    }
}

.heart:before,
.heart:after {
    content: "";
    background-color: #ff80ce;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}
