* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#ffb0e1), to(#fac6e5));
    background: linear-gradient(to right top, #ffb0e1, #fac6e5);
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    color: #96304c;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
}

.heart {
    background-color: #ff80ce;
    display: inline-block;
    height: 100px;
    margin: 0 10px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #ff80ce;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 100px;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    left: 50px;
    top: 0;
}

#a {
    bottom: 7%;
    left: 10%;
}

#b {
    top: 100px;
    left: 80%;
}
